*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 2vh 8vh;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}